In [0]:
# import required library
from google.cloud import bigquery

import os
from google.cloud.bigquery.client import Client

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'My First Project-00fd939aac5d.json'

In [0]:
# create a "Client" object
client = bigquery.Client()

In [0]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

In [0]:
# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [0]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:
  print(table.table_id)

comments
full
full_201510
stories

In [0]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [0]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [0]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results = 2).to_dataframe()

          by  score        time  ... descendants        id ranking
0  pseudolus    4.0  1550813894  ...         0.0  19223386    None
1    lossolo    NaN  1492173009  ...         NaN  14114045    None

[2 rows x 14 columns]

In [0]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields = table.schema[:1], max_results = 5).to_dataframe()

           by
0   pseudolus
1     lossolo
2    omaranto
3    ptaipale
4  asbromberg

In [0]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:  
    print(table.table_id)

global_air_quality

In [0]:
# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

                        location       city  ... longitude averaged_over_in_hours
0  BTM Layout, Bengaluru - KSPCB  Bengaluru  ...  77.60922                   0.25
1  BTM Layout, Bengaluru - KSPCB  Bengaluru  ...  77.60922                   0.25
2  BTM Layout, Bengaluru - KSPCB  Bengaluru  ...  77.60922                   0.25
3  BTM Layout, Bengaluru - KSPCB  Bengaluru  ...  77.60922                   0.25
4  BTM Layout, Bengaluru - KSPCB  Bengaluru  ...  77.60922                   0.25

[5 rows x 11 columns]

In [0]:
# Query to select all the items from the "city" column where the "country" column is 'India'
query = """
     SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'IN'
      
      """

# Create a CLient object

client = bigquery.Client()

In [0]:
# set up the query
query_job = client.query(query)

In [0]:
# API request - run the query, and return a pandas DataFrame
india_cities = query_job.to_dataframe()

In [0]:
india_cities.tail()

                            location   city  ... longitude averaged_over_in_hours
1123  Punjabi Bagh, New Delhi - DPCC  Delhi  ...  77.13013                    1.0
1124  Punjabi Bagh, New Delhi - DPCC  Delhi  ...  77.13013                    1.0
1125  Punjabi Bagh, New Delhi - DPCC  Delhi  ...  77.13013                    1.0
1126  Punjabi Bagh, New Delhi - DPCC  Delhi  ...  77.13013                    1.0
1127   US Diplomatic Post: New Delhi  Delhi  ...  77.22445                    1.0

[5 rows x 11 columns]